body {
    width: 100%;
    height: 1000px;
    margin: 0;
    
    
}

.container-search{
    width: 100%;
    height: 1000px;
    background: #1A2038;
    display: flex;
    flex-direction: column;
    
}